@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
textarea,
select {
  border: 1px solid #3d3939;
  border-radius: 6px;
  padding: 2px 6px;
  width: 100%;
  margin-bottom: 8px;
  font-weight: bold;
  resize: none;
}

input:hover,
textarea:hover,
select:hover {
  border: 2px solid rgb(17, 64, 207);
}

h1 {
  color: #3d3939;
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: bold;
}

label {
  color: #3d3939;
  font-weight: 600;

  span {
    font-style: italic;
  }
}

.btn-primary {
  background-color: #5542f6;
  color: #fff;
  padding: 8px 4px;
  width: 64px;
  border-radius: 6px;
  font-weight: bold;

  &:hover {
    background-color: rgb(47, 71, 142);
  }
}

table.basic {
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.15);

  a {
    padding: 4px 4px;
    width: 80px;
    border-radius: 6px;
    display: inline-flex;
    font-size: 14px;
    gap: 2px;
    align-items: center;
    margin-left: 10px;
  }
}

table.basic thead tr td,
table.basic thead tr th {
  font-size: small;
  text-transform: uppercase;
  color: #545050;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

table.basic tr td {
  padding: 10px;
}
.btn-red,
.btn-default {
  padding: 6px 10px;
  border-radius: 8px;
}

.btn-red {
  background-color: #da9797;
  color: #da0000;
  border-radius: 6px;
  width: 80px;

  &:hover {
    background-color: #ca7777;
  }
}

.btn-default {
  color: #3d3939;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid black;

  &:hover {
    background-color: #5b4d4d;
  }
}
